nav#header
  ul.navigation
    if user
      li.user= user.username
    else
      li.nav-item
        a(href="/login") Login
      li.nav-item
        a(href="/register") Register
    if navigation
      for item in navigation
        li.nav-item
          a(href=item.path)= item.name
  .logout
    a(href="/logout") Logout
