#header
  if user
    div
      div.user= user.username
      a(href="/users") Users
      a(href="/documents") Documents
    div
      a(href="/logout") Logout
  else
    div
      a(href="/login") Login
      a(href="/register") Register
