extends layout

block content
  h2 Recent Callbacks
  p.
    A list of all raw webhook callbacks.
  div(style="margin-bottom: 10px")
    a(href="?topic=page").button Only page
    a(href="?topic=group").button Only group
    a(href="?topic=link").button Only link
    a(href="?topic=all").button All
  form(action="/delete_callbacks" method="post")
    button(type="submit") Clear

  table.callbacks
    thead
      tr
        th(style="width: 150px") Time
        th(style="width: 200px") Path
        th(style="width: 500px") Headers
        th Body
    tbody
      each callback in callbacks
        tr
          td= moment(callback.createdAt).fromNow()
          td= callback.path
          td
            pre= JSON.stringify(callback.headers, null, 2)
          td
            pre= JSON.stringify(callback.body, null, 2)
