html
  head
    title Pusheen Suite
    link(href="/favicon.ico" rel="icon" type="image/x-icon")
    link(href="/style.css", rel="stylesheet", type="text/css")
  body
    #main
      include includes/header.pug
      h1 Create a New Document
      form(action="/document/create" method="post")
        label.label Name
          input(type="text" name="name" required)
        label.label Content
          textarea(name="content")
        p.label Privacy
        div
          input(id="privacy-public" type="radio" name="privacy" value="public" checked)
          label(for="privacy-public") Public
        div
          input(id="privacy-restricted" type="radio" name="privacy" value="restricted")
          label(for="privacy-restricted") Restricted
        p.label Other
        div
          input(id="unicorn" type="checkbox" name="unicorn" value="unicorn")
          label(for="unicorn") Special Icon
        p
          button(type="submit") Create
