extends layout

block content
  h2 Create a New Folder
  form(action="/folder/create" method="post")
    label.label Name
      input(type="text" name="name" required)
    p.label Privacy
    .input-group
      input(id="privacy-public" type="radio" name="privacy" value="public" checked)
      label(for="privacy-public") Public
    .input-group
      input(id="privacy-restricted" type="radio" name="privacy" value="restricted")
      label(for="privacy-restricted") Restricted
    p
      button(type="submit") Create
