extends layout

block content
  h2 Create a New Task
  form(action="/task/create" method="post")
    label.label Title
      input(type="text" name="title" required)
    p.label Priority
    div
      input(id="priority-high" type="radio" name="priority" value="high")
      label(for="priority-high") High
    div
      input(id="priority-medium" type="radio" name="priority" value="medium")
      label(for="priority-medium") Medium
    div
      input(id="priority-low" type="radio" name="priority" value="Low")
      label(for="priority-low") Low
    p
      button(type="submit") Create
