html
  head
    title Error
    link(href="/favicon.ico" rel="icon" type="image/x-icon")
    link(href="/style.css", rel="stylesheet", type="text/css")
  body
    #main
      h1 Oh no, an error occurred
      p=message
      pre=details
      p.pusheen
        img(src="/sad.png")
