html
  head
    title Error
    link(href="/style.css", rel="stylesheet", type="text/css")
  body
    #main
      h1 Oh no, an error occurred
      p=message
      pre=details
      div.pusheen
        img(src="/pusheen-sad.jpg")
