html
  include includes/head.pug
  body
    #main
      if header
        h1= header
      else
        h1 Oh no, an error occurred
      p=message
      pre=details
      p.pusheen
        img(src="/sad.png")
