extends layout

block content
  p.
    A Workplace application demonstrating account linking, file preview and composer integration. This models
    a simple document store with very simple privacy rules.
  p.
    The documentation for the features demonstrated in this application can be found on the official developers
    resource for Facebook and Workplace.
  ul
    li
      a(href="https://developers.facebook.com/docs/workplace/share-extensions") Share Extensions
  p.
    The source code for this application can be found on #[a(href="https://github.com/jokr/taaskly") GitHub].
    You can also directly deploy it to #[a(href="https://heroku.com/deploy?template=https://github.com/jokr/taaskly") Heroku]
    to run your own version.
  p.
    You can also learn more about #[a(href="https://www.facebook.com/workplace") Workplace] and start using it today for free.
