html
  head
    title Pusheen Suite
    link(href="style.css", rel="stylesheet", type="text/css")
  body
    #main
      include includes/header.pug
      h1 Pusheen Suite
      p.
        A Workplace application demonstrating account linking, file preview and composer integration. This models
        a simple document store with very simple privacy rules.
      p.pusheen-reading
        img(src='pusheen-reading.jpg')
