extends layout

block head
  meta(http-equiv="refresh" content="10;url="+redirect)
    
block navigation

block content
  if !redirect
    script(src='/js/installSuccess.js')
  h1 Community Installed
  p.
    Taaskly has been successfuly installed on the community #[strong= community.name].
  if state
    p The following state param has been passed:
    pre= state
  else
    p No state param has been passed.
  if redirect
    p This site will redirect back to Workplace in 10 seconds:
    pre= redirect
  else
    p This window will close in 3 seconds.
    
