html
  include includes/head.pug
  body
    #main
      h1 Link Account with #{community.name}
      p.
        Would you link your Taasky Account #{user.username} with the
        Workplace community #{community.name}?
      form(action="/link_account_confirm" method="post")
        button(type="submit").confirm Link Account
