html
  include includes/head.pug
  body
    #main
      h1 Account Linked
      p.
        Your taaskly account #{user.username} was successfully linked to the 
        Workplace user id #{user.workplaceID}.
      p.
        This site will redirect back to Workplace in 3 seconds:
      pre= redirect
