html
  include includes/head.pug
  body
    #main
      include includes/header.pug
      h1 Login
      p Please enter your username and password.
      form.small(action="/login" method="post")
        label.label Username
          input(type="text" name="username" required)
        label.label Password
          input(type="password" name="password" required)
        button(type="submit") Login
      p
        a(href='/register') Not yet registered?
