extends layout
    
block navigation

block content
  script(src='/js/pageInstallSuccess.js')
  h1 Community Installed
  p.
    Taaskly has been successfuly installed on the community #[strong= page.communityName] as #[strong = page.name].
  if state
    p The following state param has been passed:
    pre= state
  else
    p No state param has been passed.
  p This window will close in 3 seconds.    
