html
  head
    title Pusheen Suite
    link(href="/favicon.ico" rel="icon" type="image/x-icon")
    link(href="/style.css", rel="stylesheet", type="text/css")
  body
    #main
      include includes/header.pug
      h1 All Users
      p.
        A list of all users.
      table.users
        thead
          tr
            th(style="width: 50px") ID
            th(style="width: 200px") Workplace ID
            th Name
        tbody
          each user in users
            tr
              td= user.id
              td= user.workplaceID
              td= user.username
