body {
  font-family: sans-serif;
}

@media (min-width: 1000px) {
  #main {
    margin: 200px;
  }
}

#header {
  display: flex;
  justify-content: space-between;
}

#header span, #header a {
  margin-right: 10px;
}

#header .user {
  margin-bottom: 8px;
}

form.small {
  width: 200px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type=text], input[type=password], textarea  {
  margin-top: 2px;
  width: 100%;
  padding: 5px;
}

textarea {
  height: 300px;
  resize: none;
}

a {
  color: #4080ff;
  text-decoration: none;
}

table {
  width: 100%;
  border-spacing: 0;
}

table thead {
  text-align: left;
}

table tbody tr:hover {
  background-color: #E8E8E8;
}

table td, table th {
  padding: 10px;
}

td a {
  display: block;
  color: black;
}

.pusheen {
  text-align: center;
}

.meta {
  font-size: .8rem;
  font-weight: bold;
}
