body {
  font-family: sans-serif;
}

@media (min-width: 1000px) {
  #main {
    margin: 200px;
  }
}

#header {
  display: flex;
  justify-content: space-between;
}

#header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#header li a, #header li.user {
  display: block;
  padding: 4px;
  width: 110px;
}

#header .nav-item:hover {
  background-color: #4080ff;
}

#header .nav-item:hover a {
  font-weight: bold;
  color: white;
}

nav li:hover a {
  color: white;
}

form.small {
  width: 200px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type=text], input[type=password], textarea  {
  margin-top: 2px;
  width: 100%;
  padding: 5px;
}

textarea {
  height: 300px;
  resize: none;
}

a {
  color: #4080ff;
  text-decoration: none;
}

table {
  width: 100%;
  border-spacing: 0;
}

table thead {
  text-align: left;
}

table tbody tr:hover {
  background-color: #E8E8E8;
}

table td, table th {
  padding: 10px;
}

td a {
  display: block;
  color: black;
}

.pusheen {
  text-align: center;
}

.meta {
  font-size: .8rem;
  font-weight: bold;
}

.task {
  color: white;
  display: inline-block;
  font-size: .8rem;
  font-weight: bold;
  min-width: 60px;
  padding: 4px;
  text-align: center;
}

.task-high {
  background-color: #e62546;
}

.task-medium {
  background-color: #ff8216;
}

.task-low {
  background-color: #f0c850;
}
